.partners {

  margin-top: 50px;

  @include mobile {
    margin-top: 30px 0;
  }

  // background: url(/assets/images/bg-sub.png) no-repeat center;
  // background-size: cover;


  &__wrap {
    position: relative;
    overflow: hidden;
    margin: 40px auto 0;

    &:hover .marquee {
      animation-play-state: paused;
    }

    // &:before,
    // &:after {
    //   content: "";
    //   height: 100%;
    //   top: 0;
    //   width: 10%;
    //   position: absolute;
    //   z-index: 1;
    //   pointer-events: none;
    // }

    // &:before {
    //   left: 0;
    //   background: linear-gradient(90deg,
    //       rgba(255, 255, 255, 1) 0%,
    //       rgba(255, 255, 255, 0) 100%);
    // }

    // &:after {
    //   right: 0;
    //   background: linear-gradient(90deg,
    //       rgba(255, 255, 255, 0) 0%,
    //       rgba(255, 255, 255, 1) 100%);
    // }
  }

  &__marquee {
    width: 200%;
    display: flex;
    align-items: center;

    @include mobile {
      width: 300%;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;

    @include ipad {
      margin-right: 20px;
    }

    &:hover {
      transform: scale(1.05);
    }

    & img {
      max-width: clamp(6.25rem, 0.815rem + 8.7vw, 11.25rem);
      background-color: transparent;
      mix-blend-mode: darken;
      
    }
  }
}

.marquee {
  animation: scrollAnimation 20s linear infinite;
}