@keyframes leftScissorsAnimation {

    0%,
    100% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(7deg);
    }
}

@keyframes rightScissorsAnimation {

    0%,
    100% {
        transform: rotate(-30deg);
    }

    50% {
        transform: rotate(-7deg);
    }
}

@keyframes jumpAnimation {
    0% {
        transform: translate(-50%, -9px);
    }

    50% {
        transform: translate(-50%, -3px);
    }

    100% {
        transform: translate(-50%, -9px);
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translateX(0%);
        /* Начало анимации: справа за пределами видимости */
    }

    100% {
        transform: translateX(-80%);
        /* Конец анимации: слева за пределами видимости */
    }
}

@keyframes pulseAnimation {
    0% {
        transform: translate(-50%, -50%) scale(1);
        /* Начало анимации: справа за пределами видимости */
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
        /* Конец анимации: слева за пределами видимости */
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        /* Конец анимации: слева за пределами видимости */
    }
}

@keyframes shadowave {
    0% {
        box-shadow: 0 0 0 0 $dark-blue;
    }
    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}

@keyframes orangewave {
    0% {
        box-shadow: 0 0 0 0 #EA5F00;
    }
    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}