@font-face {
    font-family: "lato";
    src: url("../fonts/lato-light.woff"),
        url("../fonts/lato-light.woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/lato-lightitalic.woff"),
        url("../fonts/lato-lightitalic.woff2");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/lato-regular.woff"),
        url("../fonts/lato-regular.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "lato";
    src: url("../fonts/lato-bold.woff"),
        url("../fonts/lato-bold.woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro.woff"),
        url("../fonts/GothamPro.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "GothamPro";
    src: url("../fonts/GothamPro-Bold.woff"),
        url("../fonts/GothamPro-Bold.woff2");
    font-weight: 700;
    font-style: normal;
}