$dark-blue: #222222;
$white: #fff;

$lite-gray: #999;
$gray: #c4c4c4;
$orange: #EA5F00;
$transparent: transparent;

$big-width: 1600px;
$monitor-width: 1330px;
$desktop-width: 1150px;
$laptop-width: 1000px;
$ipad-width: 900px;
$tablet-width: 768px;
$mobile-width: 560px;
$phone-width: 400px;
